<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="StandardSoap11" closeTimeout="00:05:00" openTimeout="00:05:00"
               receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="2147483647"
               maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.toptown.cn/stand/soap/standard/"
                binding="basicHttpBinding" bindingConfiguration="StandardSoap11"
                contract="DaDSService.Standard" name="StandardSoap11" />
        </client>
    </system.serviceModel>
</configuration>